*{
	padding:0;
	margin:0;
}
ul,li,ol,button{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	width: 100%;
	background-color: #dddddd;
}
.dao1{
    width: 100%;
    height: 45px;
    background-color: #252525;
}
.dao11{
    width: 1200px;
    margin: 0 auto;
    height: 45px;
    background-color: #252525;
}
.dao11 img {
    float: left;
    margin-left: 859px;
    margin-top: 10px;
}
.dao11 p {
    float: left;
    margin-left: 5px;
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}
.dao11 span {
    float: left;
    margin-top: 12px;
    font-size: 15px;
    color: #ffffff;
}
.denglu {
    margin-left: 45px;
    margin-right: 14px;
}
.zhuce {
    margin-left: 20px;
    font-size: 15px;
}
#ok{
    border-radius: 2px;
    text-align: center;
    margin-left: 30%;
    margin-top:3%;
    float: left;
    border: 1px solid #cb5405;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #cb5405;
    color: #ffffff;
    display: none;
    /* font-size: 20px!important; */
}
.lunbo{
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin:0 auto;
    margin-bottom: 30px;
}
.middlesearch{
    width: 585px;
    height: 53px;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.middlesearch button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #cb5405;
    border: 2px solid #cb5405;
}
.jieshao1{
    width: 143px;
    height: 53px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search1{
    width: 310px;
    height: 53px;
    float: left;
    color: #888888;
    font-size:20px;
}
.search2{
    width: 128px;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.txt{
    position: absolute;
    top: 10%;
    left: 90px;
    color: #ffffff;
}
.txt p{
    font-size: 20px;
    margin-top: 20px;
}
#car{
    background-color: #18366e;
    }
#car1{
    padding-left:0; 
}
#car2 img{
    margin-top: 50px;
    margin-left: 80px;
}
#car2 p{
    color:#ffffff;
    margin-top: 20px;
    text-align: center;
    font-size:20px;
}
.smallcar{
    display: none;
}
.imgtxt{
    top:0;
    left:300px;
}
.imgtxt p{
    font-size:2vw;
}
#xiangqing{
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    background-color: #19376e;
    padding-top: 10%;
    padding-bottom:10%;
    padding-left: 10%;
    padding-right: 10%;
}
#xiangqing2{
    border:1px solid #888888;
    border-radius: 2px;
    color:#888888;
    font-size: 1vw;
    text-align: center;
    margin: 10% auto;
    background:#ffffff;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 13%;
    padding-right: 13%;
}
#rmxl {
    margin-bottom: 30px;
}
#rmxl p{
    font-size: 18px;
}
#part1{
    margin:0;
    padding:0;
    padding-right: 5px;
}
.hainan{
    background-color: #000000;
    opacity: 0.8;
    color:white;
}
.hainan div{
    font-size:18px;
    padding-left:25px;
    padding-top:17px;
}
.hainan1{
    position: absolute;
    opacity: 0.8;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    top:42.5%;
    display: none;
}
/* .hainan1 div{
    font-size:18px;
    text-align:left;
} */
.de{
    background-color: #000000;
    opacity: 0.8;
    color:#ffffff;
}
.de div{
    font-size:18px;
    padding-left:25px;
    padding-top:16px;
}
.de1{
    position: absolute;
    opacity: 0.8;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    display: none;
}
/* .de1 div{
    font-size:18px;
    text-align:left;
} */
#rightimg{
    position:relative;
}
#newrmxl{
    display: none;
}
#newrmxl h1{
    margin-top:5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e8e8e8;
}
#newrmxl span{
    color:red;
}
.part2-1{
     position: absolute;
     opacity: 0.8;
     background-color: #000000;
     color: #ffffff;
     width: 100%;
     top:71%;
     font-size: 18px;
}
.part2-1 div{
    padding-left:25px;
    padding-top:16px;
}
.part2-2{
    position: absolute;
    opacity: 0.8;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    top:76.5%;
    font-size: 18px;
}
.part2-2 div{
    padding-left:25px;
    padding-top:16px;
}
.part2-3{
    position: absolute;
    opacity: 0.8;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    top:76.5%;
    font-size: 18px;
}
.part2-3 div{
    padding-left:25px;
    padding-top:16px;
}
#more{
    display: none;
}
#more button{
    border:1px solid black;
    border-radius: 3px;
    color:black;
    font-size: 15%;
    text-align: center;
    margin: 3% 0  3%  40%;
    padding: 3%;
    display: none;
}
.visa{
    text-align: center;
    margin-top:20px;
}
.visa h1{
    font-size: 30px;
}
.visa p{
    font-size:20px;
}
.visa span{
    font-size:20px;
}
.intro{
    position: absolute;
    opacity: 0.5;
    background-color: #000000;
    color: #fff;
    width: 100%;
}
#okk{
    font-size:1.7vw;
    padding-left:2vw;
    padding-top:0.6vw;
}
#newqztj{
    display: none;background-color: #ffffff;
}
#newqztj h1{
    font-size: 18px;
    margin-top:5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e8e8e8;
}
#newqztj span{
    color: red;
}
#rb div{
    font-size:1.5vw;
    padding-left:2%;
    padding-top:2%
}
#else{
    font-size:3vw;
    padding-left:2%;
    padding-top:0.6vw;
}
#qzpart2{
    padding:0;
    padding-right: 1.2%;
 }
#qzpart2-1{
    display: none;
}
#qzpart3{
    display: block;
    padding-bottom: 1%;
}
#qzpart3-1{
    position: absolute;
    opacity: 0.5;
    background-color: black;
    color: white;
    width: 96.2%;top:41%;
    display: block;
}
/* #qzpart5{
    margin-bottom: -2%;
} */
#qzpart3-2{display: none;}
.trip{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}
.trip img{
    width: 100%;
}
#smyj{
    text-align: center;
    margin-top:20px;
}
#smyj h1{
    font-size:30px;
}
#smyj p{
    font-size:20px;
}
#newsmyj{
    display: none;
    background-color: #ffffff;
}
#newsmyj h1{
    font-size: 18px;
    margin-top:5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #e8e8e8;
}
#newsmyj span{
    color: red;
}
#hope{
    margin:0 auto;
    padding: 0;
    height:100%;
    background-color:#19376e;
}
#mission1{
    margin:0 auto;
    padding: 0;
    background-color:#ffffff;
}
#mission1 img{
   width:100%;
}
#service{
    padding: 0;
    background-color:#19376e;
    height:100%;
    margin:0 auto;
}
#service1{
    color:#ffffff;
    font-size:2.2vw;
    text-align: center;
    margin-top:80px;
    margin-bottom: 20px;
    display: block;
}

#service2{
    display: none;
    text-align: center;
}
#service3{
    color:#ffffff;
    font-size:1.2vw;
    text-align: left;
}
#service3-1{
    margin-left:4vw;
    margin-right: 4vw;
    line-height: 3vw;
}
#card{padding: 0;background-color:#19376e;padding-bottom: 4vw}
#small{
    display:none;
    background-color: white;
}
#no{
    display: none;
}
#one{
    color: #ffffff;text-align: center;margin-top:4%;
}
#two{
    color: white;text-align: center;margin-top: 15%;
}
.small1{
    margin-top: 10%;
    padding-bottom: 20%;
    border-bottom:2px solid #e8e8e8;
}
#footer{
    margin-top: 3%;
    color: #ffffff;
}
#footer li{
    float: left;
    font-size: 1vw;
    margin-left: 3%;
}
#footer p{
    float: left;
    margin-left: 1.35%;
}
.name{
    font-size: 1.5vw!important;
}
.line{
    width: 100%;
    height: 1px;
    border: 1px solid #888888;
}
.end{
    margin-top: 3%;
    margin-bottom: 5%;
    color: #ffffff;
    text-align: center;
}
#tail2{
    background-color: #343235;
    width: 100%;
    text-align: center;
}
#tail2 p{
    margin-top:5%;
    margin-bottom: 5%;
    color:#ffffff;
}
@media(max-width:750px){
    .dao1,.txt p,#car1,#car2,#card,#tail1,.hainan,.de,#qztj, #smyj{
        display: none;
    }
    .smallcar,#small,#no,#newqztj,#newsmyj,#service2{
        display: block;
    }
    .txt h1{
        font-size: 20px;
    }
    #ok{
        display: block;
    }
    .middlesearch{
        width: 585px;
        height: 39px;
    }
    .middlesearch button{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #cb5405;
        border: 1px solid #cb5405;
        float: left;
    }
    .jieshao1{
        width: 50px;
        height: 32px;
        float: left;
    }
    .search1{
        width: 200px;
        height: 32px;
        float: left;
        font-size: 5px;
        color: #888888;
    }
    .search2{
        width: 70px;
        height: 30px;
        float: left;
    }
    #car{
        background-color: #ffffff;
    }
    .carH{
        padding-left:2%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 4%;
    }
    .jichang{
        padding-top: 3% ;
        /* margin-left: 3%; */
        padding-left:2%;
    }
    #rmxl{
        display: none;
    }
    #newrmxl{
        display: block;
    }
    #part1{
        width:100%;
        text-align: center;
        padding-right: 0;
    }
    #place{background-color:white}
    #newrmxl h1{
        font-size: 18px;
    }
    .hainan1{
        width: 100%;
        top:39%;
        display: block;
    }
    .de1{
        width: 100%;
        top:92.3%;display: block;
    }
    #part2{
        display: none;
    }
    #more{
        display: block;
    }
    #more button{
        display: block;
    }
    #qzpart1{
        width:50%;
        height: 100%;
    }
    #mobile{
        font-size:2vw; 
        margin:20%;
    }
    #c2{
        width:50%;
        height: 100%;
        padding: 0;
    }
    #c3{
        display: none;
    }
    #rb{
        width:98%;
        display: none;
        position: absolute;
        opacity: 0.5;
        background-color: black;
        color: white;
        top:94%;
        display: block;
    }
    #qzpart2{
        width:50%;
        height: 100%;
        padding: 0;
    }
    #qzpart2-1{
        display: block;
    }
    #qzpart3{
        display: block;
    }
    #qzpart3-1{display: none;}
    #qzpart4{
        display: none;
        
    }
    #qzpart5{
        display: none;
    }
    #qzpart3-2{
        position: absolute;
        opacity: 0.5;background-color: black;
        color: white;
        width: 100%;
        top:93%;
        display: block;
    }
    
    #mission1{
        width: 100%;
    }
    #service{
        width:100%;
        color:#000000;
        background-color:#ffffff;
    }
    #service h2{
        font-size: 18px;
    }
    #word{
        width:100%;
        color:black;
        background-color:white;
    }
    
    #service1{
        color:#000000;
        display: none;
    }
    #service3{
        color:#000000;
    }
    #card{
        margin:0 auto;padding: 0;background-color:#19376e;
    }
    #dao{
        background-color: #ffffff;
    }
    
}
